:root {
  --bg-dark: hsl(293 100% 3%);
  --bg: hsl(297 100% 5%);
  --bg-light: hsl(298 100% 8%);
  --bg-gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
  --text: hsl(301 100% 98%);
  --text-muted: hsl(301 39% 72%);
  --highlight: hsl(299 61% 38%);
  --border: hsl(298 100% 21%);
  --border-muted: hsl(298 100% 12%);
  --primary: hsl(299 82% 72%);
  --secondary: hsl(133 62% 53%);
  --danger: hsl(7 100% 66%);
  --warning: hsl(53 100% 21%);
  --success: hsl(162 100% 22%);
  --info: hsl(217 100% 70%);
  --border-radius: 20px 0px 20px 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  padding: 20px;
  border: 2px dashed #ff9800;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  color: #ff9800;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
}

.container2 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Video"
    "Text Text"
    "Author Author";
  gap: 0.5rem;
  margin: 1rem;
  padding: 0%;
  max-width: 30%;
  padding: 1rem;
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg);
}

.container2:hover {
  background: var(--bg-gradient);
}

/* reset default margins and padding that create “extra boxes” */
.Title > *,.Video > *, .Text > *, .Author > * {
  margin: 0;
  padding: 0;
}

.Title { grid-area: Title;
  color: var(--text);
  justify-self: start;
  }

.Video { grid-area: Video;
  color: var(--text);
  background-color: var(--bg);
}

.Text { grid-area: Text; 
  color: var(--text-muted);
  background-color: var(--bg-light);
  text-align: left;
  padding: 0.5rem;
}

.Author { grid-area: Author;
  color: var(--text-muted);
  background-color: var(--bg-light);
  text-align: end;
  padding: 0.5rem;
}

@media (max-width: 1200px) {
  .container2 {
    width: 100%;
    padding: 0.5rem;
  }
  .body {
    flex-direction: column;
    align-items: stretch;
  }
}

/* debugging styles 
* {
  outline: 1px dashed red;
}*/