:root{
  --border-radius: 20px 0px 20px 0px;
}

:root {
  /*--bg-dark: hsl(293 100% 3%);
  --bg: hsl(297 100% 5%);
  --bg-light: hsl(298 100% 8%);
  --bg-gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
  --text: hsl(301 100% 98%);
  --text-muted: hsl(301 39% 72%);
  --highlight: hsl(299 61% 38%);
  --border: hsl(298 100% 21%);
  --border-muted: hsl(298 100% 12%);
  --primary: hsl(299 82% 72%);
  --secondary: hsl(133 62% 53%);
  --danger: hsl(7 100% 66%);
  --warning: hsl(53 100% 21%);
  --success: hsl(162 100% 22%);
  --info: hsl(217 100% 70%); */
  --bg-dark: hsl(7 100% 2%);
--bg: hsl(17 100% 4%);
--bg-light: hsl(27 100% 7%);
--text: hsl(29 100% 90%);
--text-muted: hsl(30 63% 64%);
--highlight: hsl(35 92% 29%);
--border: hsl(35 100% 17%);
--border-muted: hsl(30 100% 11%); 
--primary: hsl(30 68% 64%);
--secondary: hsl(207 84% 70%);
--danger: hsl(8 58% 66%);
--warning: hsl(51 41% 48%);
--success: hsl(150 37% 53%);
--info: hsl(217 66% 68%);
}

/* theme-dark.css */
[data-theme="dark"] {
--bg-dark: hsl(29 100% 87%);
--bg: hsl(29 100% 93%);
--bg-light: hsl(29 100% 98%);
--text: hsl(1 100% 6%);
--text-muted: hsl(35 100% 17%);
--highlight: hsl(29 100% 95%);
--border: hsl(31 57% 43%);
--border-muted: hsl(30 56% 56%);
--primary: hsl(35 100% 17%);
--secondary: hsl(202 100% 22%);
--danger: hsl(8 43% 42%);
--warning: hsl(53 100% 19%);
--success: hsl(157 83% 25%);
--info: hsl(217 46% 43%);
}

/* reset default margins and padding that create “extra boxes” */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MainContent {
  font-family: Arial, sans-serif;
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

h1 {
  color: var(--primary);
  font-size: 5rem;
  text-align: center;
  padding: 1em;
}

h2 {
  color: var(--primary);
  font-size: 2rem;
  text-align: center;
}

h1 span {
  color: var(--secondary);
}

nav {
  background-color: var(--bg-light);
  border-bottom: 1px solid var(--highlight);
}

nav ul {
  list-style: none;
  display: flex;
}
nav .home-li {
  margin-right: auto;
}
nav a {
  display: flex;
  text-decoration: none;
  color: var(--text);
  padding: 1em 2em;
}

nav a:hover {
  background-color: var(--highlight);
}

nav a.active-link {
  border-bottom: 2px solid var(--text);
}
nav a.accent-link {
  background-color: var(--secondary);
}

.card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Video"
    "Text Text"
    "Author Author";
  gap: 0.5rem;
  margin: 0.5rem;
  max-width: 300px;
  padding: 1rem;
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg);

}

.card:hover {
  background: var(--bg-gradient);
  
}

/* reset default margins and padding that create “extra boxes” */
.Title > *,.Video > *, .Text > *, .Author > * {
  margin: 0;
  padding: 0;
}

.Title { grid-area: Title;
  color: var(--text);
  text-align: left;
  font-size: 1.5em;
  }

.Video { grid-area: Video;
  color: var(--text);
}

.Video iframe {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: var(--border-radius);
}

.Text { grid-area: Text; 
  color: var(--text-muted);
  background-color: var(--bg-light);
  text-align: left;
  padding: 0.5rem;
}

.Text p {
  color: var(--text-muted);
  font-size: 1em;
}

.Author { grid-area: Author;
  color: var(--text-muted);
  background-color: var(--bg-light);
  text-align: end;
  padding: 0.5rem;
  font-size: 0.5em;
}

.bento {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
  grid-auto-flow: row;
  grid-template-areas: 
    "box1 box2 box2 box3"
    "box1 box4 box5 box5";
}

/* Common styles for all boxes in bento*/
.box {
  background-color: var(--bg-light);
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--text);
  gap: 0.5rem;
  margin: 0.5rem;
}

/* Specific styles for each box in bento*/
.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box5 { grid-area: box5; } 

@media (max-width: 1200px) {
  .bento-area {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  .bento {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
      "box1 box3"
      "box1 box4"
      "box2 box2"
      "box5 box5";
  }
}

.expand-container {
  margin: 1em;
  width: 20%;
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg);
  color: var(--text);
  cursor: pointer;

  display: grid;
  grid-template-rows: 2em 0fr;
  transition: grid-template-rows 300ms ease;
}

/* When open, second row gets space */
.expand-container.open {
  grid-template-rows: 2em 1fr;
}

/* Hide anything that doesn't fit in the row when closed */
.expand-container .content {
  overflow: hidden;
  min-height: 0; /* important for some browsers */
}



@media (max-width: 800px) {
  .Video iframe {
    height: 200px;
  }
  h1 {
    font-size: 3rem;
    padding: 1em;
  }
  .card-area, .bento-area {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  .card {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
    "Title"
    "Video"
    "Text"
    "Author";
  }
  
  .bento {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    grid-template-areas: 
      "box1"
      "box2"
      "box3"
      "box4"
      "box5";
  }
  
}

/* debugging styles */
/* {
  outline: 1px dashed red;
}